[submodule "src/zotero"]
	path = src/zotero
	url = https://github.com/Juris-M/zotero.git
	branch = jurism-6.0.30
[submodule "src/zotero-google-docs-integration"]
	path = src/zotero-google-docs-integration
	url = https://github.com/zotero/zotero-google-docs-integration.git
	branch = master
[submodule "deployer"]
	path = deployer
	url = https://github.com/Juris-M/deployer.git
	branch = master
[submodule "src/translate"]
	path = src/translate
	url = https://github.com/Juris-M/translate.git
	branch = master
[submodule "src/utilities"]
	path = src/utilities
	url = https://github.com/Juris-M/utilities.git
	branch = master
[submodule "lib/SingleFile-Lite"]
	path = lib/SingleFile-Lite
	url = https://github.com/gildas-lormeau/SingleFile-Lite.git
	branch = main