[submodule "src/zotero"]
	path = src/zotero
	url = git://github.com/juris-m/zotero.git
	branch = jurism-6.0.20
[submodule "src/zotero-google-docs-integration"]
	path = src/zotero-google-docs-integration
	url = https://github.com/zotero/zotero-google-docs-integration.git
	branch = master
[submodule "deployer"]
	path = deployer
	url = git@github.com:Juris-M/deployer.git
[submodule "src/translate"]
	path = src/translate
	url = https://github.com/zotero/translate.git
[submodule "src/utilities"]
	path = src/utilities
	url = https://github.com/zotero/utilities.git
[submodule "lib/SingleFile-Lite"]
	path = lib/SingleFile-Lite
	url = https://github.com/gildas-lormeau/SingleFile-Lite.git
